#viewport {
    height:100%;
    width:100%;
}

#logo-box {
    height:100px;
    width: 600px;
    margin:auto;
}

#wrapper {
    height: 800px;
    width:1000px;
    display:block;
    margin:auto;
}

#side-box {
    height: 410px;
    width: 250px;
    display:inline-block;
    margin-top: 81px;
}

#main-box {
    height: 800px;
    width: 750px;
    display:inline-block;
    vertical-align:top;
}

#main-nav {
    height: 80px;
    width: 750px;
    display:inline-block;
    text-align: center;
}

#side-box > div {
    height: 50px;
    width: 220px;
    display:block;
    margin: 40px auto;
}

.tab {
    height: 40px;
    width: 120px;
    display:inline-block;
    margin: 20px 15px;
}

.wireframe, .wireframe * {
    outline: 1px dashed black;
}