.gui {
	poisition: fixed;
}
.gui {
	poisition: fixed;
}
#viewport {
    height:100%;
    width:100%;
}

#title-box {
    height:100px;
    width: 600px;
    outline: 1px solid;
    outline-color:black;
    margin:auto;
}

#wrapper {
    height: 800px;
    width:1000px;
    outline: 1px solid;
    outline-color:black;
    display:block;
    margin:auto;
}

#side-box {
    height: 410px;
    width: 250px;
    outline: 1px solid;
    outline-color:black;
    display:inline-block;
    margin-top: 81px;
}

#main-box {
    height: 800px;
    width: 750px;
    outline: 1px solid;
    outline-color:black;
    display:inline-block;
    vertical-align:top;
}

#top-box {
    height: 80px;
    width: 750px;
    outline: 1px solid;
    outline-color:black;
    display:inline-block;
    text-align: center;
}

#fblogin {
    height: 50px;
    width: 220px;
    outline: 1px solid;
    outline-color:black;
    margin: 40px auto;
}

#fbregister {
    height: 50px;
    width: 220px;
    outline: 1px solid;
    outline-color:black;
    display:block;
    margin: 40px auto;
}

#google {
    height: 50px;
    width: 220px;
    outline: 1px solid;
    outline-color:black;
    display:block;
    margin: 40px auto;
}

#appstore {
    height: 50px;
    width: 220px;
    outline: 1px solid;
    outline-color:black;
    display:block;
    margin: 40px auto;
}

.tab {
    height: 40px;
    width: 120px;
    outline: 1px solid;
    outline-color:black;
    display:inline-block;
    margin: 20px 15px;
}