.disabled {
    pointer-events: none;
    opacity: .5 !important;
}

.unborn {
    opacity: 0 !important;
}

* {
  font-family: 'Open Sans', cursive;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.out {
    display:none !important;
}