.disabled {
    pointer-events: none;
    opacity: .5;
}

.unborn {
    opacity: 0 !important;
}

* {
  font-family: 'Amatic SC', cursive;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}