doctype html
html(lang="en",	ng-app="app")
	head
		title Awesomeland
		link(rel="stylesheet", href="/source/styles.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:700,400&subset=latin,greek-ext,greek",	rel="stylesheet",	type="text/css")
		link(rel="stylesheet",	href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css")
		link(rel="stylesheet",	href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
		script(src="https://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js")
		script(src="/source/app.js")
	body(ng-view, ng-controller="main")
		#fb-root
		.wireframe#viewport
			#logo-box
			#wrapper
				#side-box
					#fblogin(ng-click="fw.fbLogin()", alt=text.LOGIN_TO_FB)
						span Login with
						a facebook	
					#fbregister(ng-click="fw.fbLogin()")
					#google
					#appstore
				#main-box
					#main-nav
						.tab
						.tab
						.tab
						.tab
						.tab
				