html
	head
		title hi
		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		script(src="fw.js")
		link(rel="stylesheet", href="styles.css")
	body
		.login-container
			.login-logo Awesomeland
			.login-box
		script(src="psilos.js")
		script(src="lefteris.js")