#me-wrapper(ng-controller="me")
	#ui
		#toolbar
			div 
				a File
				div
					div(ng-click="newMap()") New 
					div Open
					div Save
			div 
				a Map
				div
					div Properties
					div Quests
					div Spells
					div Units
					div Civilizations
					div Assets
					div Audio
			div 
				a Game
				div
					div Timers
					div Seasons
		#me-sidebar
	canvas#game-engine
		
	